<footer>
	<div class="social">
		<ul>
			<li>
				<a href="https://www.facebook.com/slayer.word.11">
					<div class="icon facebook">
						{% include icons/facebook.svg %}
					</div>
				</a>
			</li>
			<li>
				<a href="https://twitter.com/csyntax_bg">
					<div class="icon twitter">
						{% include icons/twitter.svg %}
					</div>
			</a>
			</li>
			<li>
				<a href="https://linkedin.com/in/csyntax">
					<div class="icon linkedin">
						{% include icons/linkedin.svg %}
					</div>
				</a>
			</li>
			<li>
				<a href="https://github.com/csyntax">
					<div class="icon github">
						{% include icons/github.svg %}
					</div>
				</a>
			</li>
		</ul>
	</div>

	<p class="copyright"> © Ivan Ivanov</p>
</footer>