<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Dynamic XML construction API for .NET built by Ivan Ivanov.">
		<meta name="keywords" content="xml, dyanamic, dynamic xml, xml builder, builder, dynamic builder, async, functions, dynamic, static, .net, dotnet, .net framework, microsoft, documents, framework, csyntax, csyntax.net, Ivan Ivanov, Developement, programming" />
		
		<title>{{ page.title }} | {{site.title}}</title>
		
		<meta name="robots" content="index,follow">
		<meta name="author" content="Ivan Ivanov">

		<link rel="stylesheet" href="/styles/app.css" />
	</head>
	<body>
		<header role="banner">
			<div class="logo">{% include logo.svg %}</div>
			<div class="install">
				<label for="install-input">Install it with NuGet:</label>
				<div class="install-container">
					<input type="text" id="install-input" readonly value="Install-Package DynamicXmlBuilder -Pre">
				</div>
			</div>
		</header>
		<div role="main">
			{{content}}
		</div>
		<footer role="contentinfo">
			<ul class="site-info">
				<li>
					<div>About</div>
					<a href="/about">About</a>
				</li>
				<li>
					<div>Source</div>
					<a href="https://github.com/csyntax/MyDynamicXmlBuilder">Github</a>
				</li>
				<li>
					<div>Made by</div>
					<a href="http://www.csyntax.net">Ivan Ivanov</a>
				</li>
			</ul>
		</footer>
	</body>
</html>
